/* =Xanthe's extra, additonal, misc things (on top of Kube's original design)
-----------------------------------------------------------------------------*/



/* =Typography
-----------------------------------------------------------------------------*/


/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/



/* =Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	margin: 10px 0 10px 0;
}


.header img {
	height: 100px;
	float: left;
}

.header h1 {
float: left;
font-size: 32px;
margin-top: 0.5em;
vertical-align: middle;
}


/* =Nav
-----------------------------------------------------------------------------*/
.header nav {
margin-top: 5.2em;
margin-bottom: 1em;
float: right;
text-transform: uppercase;
}


/* =Misc
-----------------------------------------------------------------------------*/
.container {
padding: 5px 10px;
width: 94%;
max-width: 1300px;
margin: auto;
}

.hero-img-container {
margin-bottom: 1.5em;
}

.hero-img-container img {
	min-width: 80%;
}


.info-box li {
background-color: @CGB_warmblush;//rgba(239, 230, 220,0.5);//#e9e6da;
}

.inner {
padding: 1.5em;
}

.info-box h3, .info-box h3 
{
	font-weight: normal;
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
	padding-bottom: .3em;
	border-bottom: 1px solid;
	border-color: @colorGrayLight;
}


.info-box a {
	color: rgb(65,65,65);
}
.info-box a:hover {
	color: @CBG_linkHover;
}



/* =Footer
-----------------------------------------------------------------------------*/
