/* =Responsive Mobile
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

	.row .half,
	.row .third,
	.row .quarter,
	.row .fifth,
	.row .sixth,
	.row .twothird,
	.row .twofifth,
	.row .threefifth,
	.row .fourfifth,
	.row .fivesixth,
	.row .threequarter {
		width: 100%;
		margin-left: 0;
		margin-bottom: 1.5em;
	}

	.push-half,
	.push-threequarter,
	.push-quarter,
	.push-third,
	.push-twothird,
	.push-fifth,
	.push-twofifth,
	.push-threefifth,
	.push-fourfifth,
	.push-sixth,
	.push-fivesixth {
		left: 0;
	}

	.row .pull-right {
		float: none;
	}

	/*
		Blocks
	*/
	.block-two,
	.block-three,
	.block-four,
	.block-five,
	.block-six {
		margin-left: 0;
		margin-bottom: @baseLine/@em;
	}

	.block-two > li,
	.block-three > li,
	.block-four > li,
	.block-five > li,
	.block-six > li {
		float: none;
		margin: 0;
		margin-bottom: 1em;
		width: 100%;
	}

	/*
		Forms
	*/
	.forms.columnar label {
		float: none;
		text-align: left;
		width: auto;
	}
	.forms.columnar .push,
	.forms.columnar div.descr {
		margin-left: 0;
	}
	.forms .multicolumn li {
		float: none;
		margin-right: 0;
	}
	.forms .multicolumn li.width-50,
	.forms .multicolumn li.width-33 {
		width: 100%;
	}
	.forms.columnar li fieldset,
	.forms.columnar li fieldset section,
	.forms.columnar li fieldset section label,
	.columnar li.form-section {
		width: 100%;
		padding-left: 0;
		text-align: left;
		position: static;
	}
	.forms fieldset {
		padding: 0;
		padding-top: 1em;
		border: none;
	}
	.forms fieldset legend {
		padding: 0;
	}

	/*
		Navs
	*/
	.nav-g, .nav-g ul,
	.nav-g ul li,
	.nav-g,
	.nav-v ul,
	.nav-v,
	.nav-tabs ul,
	.nav-pills,
	.nav-pills ul {
		float: none;
	}
	.nav-g ul li {
		margin: 0;
		margin-bottom: 1px;
	}
	.nav-tabs ul li {
		float: none;
	}
	.nav-tabs ul li a,
	.nav-tabs ul li span {
		margin-top: 0;
		bottom: 0;
	}

	.nav-g {
		position: absolute;
		right: -50%;
		opacity: 0;
		display: none;

		 transition-property: right, position;   //position transition does not do anything
		  transition-duration: 0.5s, 0.5s;
		  transition-delay: 0s, 0.5s ;
		  //Safari
		  -webkit-transition-property: right, position;
		  -webkit-transition-duration: 0.5s, 0.5s;
		  -webkit-transition-delay: 0s, 0.5s ;

		  background-color: @CBG_creamOpaque;
		  padding: 10px;
  }

}

/* =NAV and responsive
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 767px) { 
	.nav-btn {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	}
}

/*For small screens....*/
@media only screen and (max-width: 767px) {
	/* on small screens - show the nav btn*/
	.nav-btn {
	display: block;
	float: right;
	width: 2.625em;
	height: 2.25em;
	padding: 60px 0 0 0;
	border: 0;
	outline: none;
	background: transparent url("../img/icons/menu-icon.png") left center no-repeat;
	background-size: 1.875em 1.5em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	/*This class gets toggled - ie. it is present when the nav is open and removed when the nav is hidden*/
	.js-nav {
			position: relative;
			right: 0%;
			opacity: 1;	
	}

	.js-nav ul { line-height: 30px;	}

	.header nav { margin-top: 9em !important;	}

	header {
		-webkit-box-shadow: 0 10px 20px -13px #777;
		   -moz-box-shadow: 0 10px 20px -13px  #777;
		        box-shadow: 0 10px 20px -13px  #777;
	}

}
@media only screen and (max-width: 400px) { 
	.header nav { margin-top: 3em !important;}
}

@media only screen and (max-width: 767px) { 
	.nav-g ul li {
		padding-bottom: 10px;
	}
}

@media only screen and (max-width: 450px) { 
	.nav-g ul li {
		margin-bottom: 15px;
		margin-right: 20px;
	}

}
